body{
	background-color: #FCF3CF ;
}

.encabezado{
	background-color:#4F3316; 
	width: 100%; 
	height: 120px;
	
}

.cuerpo{
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}
.img{
	float: center;
	
}
.barraNavegacion{
	width:100%;
}
.menu {
  
  padding: 0px 170px  0px  170px;
}

.menu li{
  padding: 0px 20px  0px  20px;
}
.titulo{
	width: 100%; 
	height: 130px;
	border-bottom: double #4F3316;
	margin-top: 60px;
	font-family: Candara;
	
}
.card{
	width: 40%;
	margin-top: -220px;
	margin-left: -400px;
}

.parte1{
	margin-top: 50px;
	margin-left: 540px;
}
.parte2{

	margin-left: 529px;
}

.botonback{
  background-color: #D35400 ;
  border-radius:10px;
   margin-left: 90px;

}
.botonback:hover{
   background-color: #F7DC6F;
  }
    .botonback:hover{
   background-color: #F7DC6F;
  }
  .pie{

	background-color:#4F3316;
}

* {
  margin: 0;
}
html, body {
  height: 100%;
}
.titulo2{
	margin-left: 360px;
}

